body {
  margin: 0;
  padding: 100px;
}

#job-plotter {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: silver;
  overflow: hidden;
}

.processor-0 {
  top: 0px;
}

.processor-1 {
  top: 50px;
}

.processor-2 {
  top: 100px;
}

.processor-3 {
  top: 150px;
}

.processor-4 {
  top: 200px;
}

.processor-5 {
  top: 250px;
}

.processor-6 {
  top: 300px;
}

.processor-7 {
  top: 350px;
}

.range {
  position: absolute;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgb(218, 57, 164);
  background-color: red;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  user-select: none;
}

.selected {
  border: 1px solid greenyellow;
}

.plotter-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
  height: 200px;
  background-color: coral;
}

.plotter-menu__option {
  flex: 100px 2 2;
  padding: 0;
  border: none;
}

.plotter-menu__option:hover {
  background-color: cornflowerblue;
}

.plotter-menu__option:active {
  text-decoration: none;
}

button::-moz-focus-inner {
  border: none;
}

#slider {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  position: relative;
  background-color: black;
}

#slider-background {
  display: inline-block;
}

#center-slider {
  position: absolute;
  display: inline-block;
  height: 100%;
  opacity: 0.30;
  z-index: 0;
  background-color: white;
}

.anchor {
  position: absolute;
  display: inline-block;
  height: 100%;
  z-index: 1;
  background-color: magenta;
  cursor: pointer;
}

.slider-processor {
  height: 25px;
  position: relative;
}

.hiddeText {
  color: transparent;
}
