#slider {
  grid-area: slider;
  position: relative;
  background-color: black;
}

#slider-background {
	display: inline-block;
}

#center-slider {
	position: absolute;
	display: inline-block;
	height: 100%;
	opacity: 0.30;
	z-index: 0;
	background-color: white;
	cursor: grab;
}

.anchor {
	position: absolute;
	display: inline-block;
	height: 100%;
	z-index: 1;
	background-color: transparent;
	cursor: ew-resize;
}

.slider-processor {
	height: 25px;
	position: relative;
}
